@charset "utf-8";

/* =======================
article header
======================= */
.title {
    padding: 48px 4.2% 24px;
}

/* article header pc */
@media screen and (min-width: 769px) {
    .title {
        padding: 64px 4.2%;
    }
}

/* =======================
article
======================= */
.article {
    padding: 0 4.2%;
}

.article__title {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.1;
    margin-top: 2px;
}

.time {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1;
    color: var(--primary-green);
    display: block;
    text-align: end;
    margin-top: 4px;
}

.article__img {
    width: 100%;
    height: auto;
    display: block;
    margin-top: 17px;
}

.article__txt {
    font-size: 1.4rem;
    margin-top: 13px;
}

.section__title {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.3;
    color: var(--primary-darkGreen);
}

.section__title--main {
    margin-top: 20px;
}

.section__title--sub01,
.section__title--sub02 {
    margin-top: 25px;
}

.section__title--sub03 {
    margin-top: 30px;
}

.section__txt {
    font-size: 1.6rem;
    line-height: 1.3;
    margin-top: 10px;
}

.marker {
    background: linear-gradient(transparent 60%, #F6EEB0 60%);
}

.section__img {
    width: 100%;
    height: auto;
    margin-top: 50px;
    border-radius: 50%;
    display: block;
}

/* article pc */
@media screen and (min-width: 769px) {
    .article {
        padding: 0 60px;
        max-width: 1280px;
        margin: 0 auto;
    }

    .article__title {
        font-size: 2.8rem;
        font-weight: 400;
        line-height: 1;
        margin-top: 50px;
        text-align: center;
    }

    .time {
        font-size: 2.8rem;
        margin: 61px auto 0;
    }

    .article__img {
        margin: 103px auto 0;
        max-width: 1160px;
    }

    .article__txt {
        font-size: 1.6rem;
        line-height: 1.3;
        margin-top: 28px;
    }

    .section__title {
        font-size: 1.8rem;
        line-height: 1;
    }

    .section__title--main {
        margin-top: 58px;
    }

    .section__title--sub01,
    .section__title--sub03 {
        margin-top: 0;
    }

    .section__group {
        max-width: 1160px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin: 0 auto;
    }

    .section__img {
        width: 46.5%;
        height: auto;
        max-width: 500px;
        margin-top: 0;
    }

    .section__main {
        margin-top: 52px;
    }

    .section__sub {
        width: 46.5%;
    }

    .section__group01 {
        margin-top: 60px;
    }

    .section__group02 {
        margin-top: 90px;
        flex-direction: row-reverse;
    }
}

/* pc 769px */

/* =======================
aside
======================= */
.recommend {
    margin: 50px 7.2% 0;
    background-color: var(--primary-whiteLow);
    height: 350px;
    padding: 20px;
}

.recommend__topic {
    font-size: 1.6rem;
    line-height: 1.3;
    color: #000;
}

.recommend__title {
    font-size: 1.6rem;
    line-height: 1.3;
    color: var(--primary-darkGreen);
    margin-top: 9px;
}

.recommend__img {
    display: block;
    width: 250px;
    height: auto;
    margin: 40px auto 0;
}

/* aside pc */
@media screen and (min-width: 769px) {
    .recommend {
        max-width: 1280px;
        margin: 120px auto 0;
        height: 200px;
        padding: 25px 0 25px;
        display: flex;
        justify-content: space-between;
    }

    .recommend__content {
        margin: 25px 0 0 65px;
    }

    .recommend__title {
        margin-top: 29px;
    }

    .recommend__img {
        width: auto;
        height: 150px;
        margin: 0 79px 0 0;
    }
}

/* pc 769px */