@charset "UTF-8";

/* =======================
article header
======================= */
.article__header {
    background-image: url(../images/bg-main-sp.jpg);
    background-repeat: no-repeat;
    background-position: left 16px bottom;
    background-size: cover;
    margin-top: 16px;
    height: 400px;
    position: relative;
}

.article__top {
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.34);
    width: 100%;
    max-width: 324px;
    padding: 44px 28px 54px 38px;
}

.logo__pc {
    display: none;
}

/* article header pc */
@media screen and (min-width: 769px) {
    .article__header {
        background-image: url(../images/bg-main-pc.jpg);
        background-position: left 140px bottom;
        height: 515px;
    }

    .article__top {
        max-width: 933px;
        padding: 56px 70px 40px 205px;
    }

    .logo__sp {
        display: none;
    }

    .logo__pc {
        display: block;
    }
}

/* pc 769px */

/* =======================
about
======================= */
.about {
    padding: 48px 0;
}

.about__txt {
    margin-top: 27px;
    padding: 0 4.2%;
}

.about__txt p {
    font-size: 1.6rem;
    line-height: 1.3;
    margin-top: 21px;
}

.about__txt p:first-of-type {
    margin-top: 0;
}

.movie {
    display: block;
    width: 100%;
    aspect-ratio: 16 / 9;
    margin: 27px 0 auto;
}

.about__content {
    padding: 0 4.2%;
}

.about__entry {
    margin-top: 27px;
}

.entry__title {
    color: var(--primary-green);
    text-align: center;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1;
}

.entry__txt {
    margin-top: 16px;
    color: var(--primary-darkGreen);
    text-align: center;
    font-size: 1.6rem;
    line-height: 1.3;
}

.btn__entry {
    margin-top: 16px;
}

/* about pc */
@media screen and (min-width: 769px) {
    .about {
        padding: 64px 0;
    }

    .about__txt {
        padding: 0;
        margin-top: 32px;
    }

    .about__txt p {
        text-align: center;
    }

    .movie {
        max-width: 1160px;
        margin: 32px auto 0;
    }

    .about__content {
        display: flex;
        margin: 32px auto 0;
        justify-content: center;
        align-items: center;
        gap: 0 48px;
    }

    .about__entry {
        margin-top: 0;
        padding: 0;
    }

    .entry__title {
        font-size: 2.8rem;
    }

    .entry__txt {
        margin-top: 13px;
    }

    .entry__txt .spBr {
        display: none;
    }

    .btn__entry {
        margin-top: 0;
    }
}

/* pc 769px */

/* =======================
topics
======================= */
.topics {
    padding: 64px 4.2%;
    background-image: url(../images/bg-sp.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

.topics__title {
    color: var(--primary-white);
}

.topics__title::after {
    background-color: var(--primary-white);
}

.topics__list {
    margin-top: 32px;
}

.topics__item {
    margin: 24px auto 0;
}

.topics__item:first-of-type {
    margin-top: 0;
}

.topics__img {
    /* trim on */
    object-fit: cover;
    width: 100%;
    height: 51.2vw;
}

.topics__content {
    background-color: var(--primary-white);
    padding: 16px;
    height: 124px;
}

.topics__content time {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.3;
    color: var(--primary-green);
}

.topics__content p {
    margin-top: 8px;
    font-size: 1.6rem;
    line-height: 1.3;
    color: var(--primary-darkGreen);
}

.btn__topics {
    margin-top: 32px;
}

/* topics pc */
@media screen and (min-width: 769px) {
    .topics {
        padding: 64px 140px;
        background-image: url(../images/bg-pc.jpg);
    }

    .topics__list {
        max-width: 1160px;
        display: flex;
        justify-content: center;
        gap: 0 20px;
        margin: 32px auto 0;
    }

    .topics__item {
        margin: 0;
        width: 373px;
    }

    .topics__img {
        /* trim off */
        object-fit: contain;
        height: auto;
    }

    .btn__topics {
        margin: 32px auto 0;
    }
}

/* pc 769px */