@charset "utf-8";

/* =======================
article header
======================= */
.title {
    padding: 48px 4.2% 24px;
}

/* article header pc */
@media screen and (min-width: 769px) {
    .title {
        padding: 64px 4.2%;
    }
}

/* pc 769px */

/* =======================
topics list
======================= */
.topics__list {
    padding: 0 4.2%;
}

.topics__item {
    margin: 12px auto 0;
}

.topics__item:first-of-type {
    margin-top: 0;
}

.topics__img {
    /* trim on */
    object-fit: cover;
    width: 100%;
    height: 51.2vw;
}

.topics__content {
    background-color: var(--primary-white);
    padding: 16px;
    height: 124px;
}

.topics__content time {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.3;
    color: var(--primary-green);
}

.topics__content p {
    margin-top: 8px;
    font-size: 1.6rem;
    line-height: 1.3;
    color: var(--primary-darkGreen);
}

/* topics list pc */
@media screen and (min-width: 769px) {
    .topics__list {
        max-width: 1280px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 36px 20px;
        margin: 0 auto;
        padding: 0 60px;
    }

    .topics__item {
        margin: 0;
        width: 373px;
    }

    .topics__img {
        /* trim off */
        object-fit: contain;
        height: auto;
    }
}

/* pc 769px */

/* =======================
pagination
======================= */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 8px;
    margin: 56px 0 48px;
}

.pagination::after {
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    background-image: url(../images/pagenation-arrow.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.pagination__item {
    line-height: 1;
}

.pagination__item a {
    display: block;
    width: 24px;
    height: 24px;
    padding: 4px 8px 6px;
    text-align: center;
    color: var(--primary-darkGreen);
    font-size: 1.4rem;
}

.pagination__item--current a {
    background-color: var(--primary-darkGreen);
    color: var(--primary-white);
}

.pagination__item:last-of-type a {
    display: inline-block;
    vertical-align: -14px;
}

/* pagination pc */
@media screen and (min-width: 769px) {
    .pagination {
        margin: 56px auto 0;
    }
}

/* pc 769px */