@charset "UTF-8";

/* =======================
common
======================= */
:root {
    --primary-white: #FDFDFD;
    --primary-whiteLow: #ECF5F5;
    --primary-black: #333A3A;
    --primary-green: #4FB9B9;
    --primary-greenR: 79, 185, 185;
    --primary-darkGreen: #076363;
    --primary-pink: #F77;
    --primary-lightGray: #C8D1D1;
}

html {
    font-size: 62.5%;
}

body {
    font-family:
        "Noto Sans JP",
        Arial,
        sans-serif;
    font-weight: normal;
    font-style: normal;
    color: var(--primary-black, #333A3A);
    background-color: var(--primary-white, #FDFDFD);
    line-height: 1.5;
}

img {
    max-width: 100%;
    height: auto;
}

.title {
    color: var(--primary-darkGreen, #076363);
    text-align: center;
    font-family: Arial;
    font-size: 2.8rem;
    line-height: 1;
    margin: 0 auto;
}

.title::after {
    content: '';
    display: block;
    width: 1px;
    height: 24px;
    background: var(--primary-green);
    margin: 24px auto 0;
}

.btn {
    display: block;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1;
    background: var(--primary-darkGreen);
    color: var(--primary-white);
    border-radius: 4px;
    padding: 16px 48px 18px;
    text-align: center;
    position: relative;
}

.btn::after {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    position: absolute;
    right: 32px;
    top: 50%;
    transform: translateY(-50%);
    background-image: url(../images/icon-arrow.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

/* common pc */
@media screen and (min-width: 769px) {
    .title {
        font-size: 3.2rem;
    }

    .title::after {
        margin: 32px auto 0;
    }

    .btn {
        font-size: 2.2rem;
        width: 343px;
        height: 56px;
    }
}

/* pc 769px */

/* =======================
header
======================= */
.header__top,
.nav__top {
    padding: 0 0 0 4.2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
}

.header__title a,
.nav__title {
    font-size: 2.4rem;
    line-height: 1;
    display: flex;
    align-items: center;
}

.header__title span,
.nav__title span {
    font-size: 0.8rem;
    line-height: 1.3;
    letter-spacing: 0.2em;
    margin-left: 18px;
}

.header__btn,
.nav__btn {
    display: block;
    width: 64px;
    height: 64px;
}

/* nav 初期表示 */
.nav {
    width: 100%;
    height: 100vh;
    background: rgba(var(--primary-greenR), 0.97);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    transform: translateX(-100%);
    transition: transform 0.4s;
}

/* nav 表示 */
.nav.active {
    transform: translateX(0);
}

.nav__title {
    color: var(--primary-white);
}

.nav__list {
    margin-top: 67px;
}

.nav__item {
    color: var(--primary-white);
    margin-top: 48px;
    font-size: 2.4rem;
    line-height: 1;
    display: flex;
    align-items: center;
}

.nav__item::before {
    content: '';
    display: inline-block;
    background-color: var(--primary-white);
    width: 32px;
    height: 2px;
    margin-right: 16px;
}

.nav__btn--entry {
    color: var(--primary-white);
    background-color: var(--primary-green);
    border-radius: 4px;
    font-weight: 500;
    line-height: 1;
    display: flex;
    padding: 12px 0 12px 16px;
    font-size: 1.6rem;
    align-items: center;
    transition: 0.4s;
}

.nav__btn--entry::after {
    content: '';
    background-image: url(../images/icon-arrow.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 0 8px;
}

.nav__item:last-of-type {
    display: none;
}

/* header pc */
@media screen and (min-width: 769px) {
    .header {
        max-width: 1280px;
        padding: 20px 60px 0;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        height: 80px;
        align-items: center;
    }

    .header__top {
        padding: 0;
        height: auto;
    }

    .nav__top {
        display: none;
    }

    .header__title a {
        font-size: 3.0rem;
    }

    .header__title span {
        font-size: 1.2rem;
        margin-left: 28px;
    }

    .header__btn,
    .nav__btn {
        display: none;
    }

    .nav {
        width: auto;
        height: auto;
        padding: 0;
        background: transparent;
        position: static;
        transform: translateX(0);
    }

    .nav__list {
        margin-top: 0;
        display: flex;
    }

    .nav__item {
        color: var(--primary-green);
        font-size: 1.6rem;
        line-height: 1.3;
        margin: 0 32px 0 0;
        text-align: center;
    }

    .nav__item::before {
        display: none;
    }

    .nav__item:nth-last-of-type(2) {
        display: none;
    }

    .nav__item:last-of-type {
        display: block;
        margin-right: 0;
    }
}

/* pc 769px */

/* =======================
article footer
======================= */
.article__footer {
    padding: 48px 9.6%;
}

.article__footer--title {
    font-size: 3.0rem;
    line-height: 1.3;
    text-align: center;

}

.article__footer--title span {
    display: block;
    font-size: 1.2rem;
    letter-spacing: 0.2em;
    margin-top: 5px;
}

.article__footer--list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 12px;
    margin: 32px auto 0;
    justify-content: space-between;
}

.article__footer--item {
    width: 47.8%;
    font-size: 1.6rem;
    line-height: 2.6;
    color: var(--primary-darkGreen);
    font-weight: 400;
}

/* article footer pc */
@media screen and (min-width: 769px) {
    .article__footer {
        padding: 64px 8.3%;
    }

    .article__footer--list {
        display: flex;
        flex-wrap: nowrap;
        gap: 0 32px;
        margin: 16px auto 0;
        justify-content: center;
    }

    .article__footer--item {
        width: auto;
        line-height: 1.3;
    }

}

/* pc 769px */

/* =======================
footer
======================= */
.footer {
    background-color: var(--primary-whiteLow);

}

.footer__group {
    padding: 48px 4.2%;
}

.contact__title,
.recruit__title {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1;
    color: var(--primary-darkGreen);
}

.address,
.recruit__txt {
    font-size: 1.4rem;
    margin-top: 16px;
}

.address a {
    color: var(--primary-darkGreen);
    text-decoration: underline;
}



.recruit {
    margin-top: 36px;
}

.btn__form {
    margin-top: 1.6rem;
    height: 50px;
    background: var(--primary-white);
    border: 1px solid var(--primary-darkGreen);
    color: var(--primary-darkGreen);
}

.btn__form::after {
    background-image: url(../images/icon-arrow--grn.svg);
}

.copy {
    background-color: var(--primary-green);
    color: var(--primary-white);
    padding: 8px 0;
    text-align: center;
}

/* footer pc */
@media screen and (min-width: 769px) {

    .footer__group {
        padding: 64px 0;
        display: flex;
        margin: 0 auto;
        max-width: 702px;
        gap: 0 16px;
    }

    .contact__title,
    .recruit__title {
        width: 343px;
    }

    .recruit {
        margin-top: 0;
    }

    .btn__form {
        font-size: 1.6rem;
    }

    .copy {
        padding: 30px 0;
    }
}

/* pc 769px */