@charset "UTF-8";

/* =======================
article header
======================= */
.title {
    padding: 48px 4.2% 24px;
}

/* article header pc */
@media screen and (min-width: 769px) {
    .title {
        padding: 64px 4.2%;
    }
}

/* pc 769px */

/* =======================
description
======================= */
.description {
    padding: 0 4.2% 48px;
}

.subTitle {
    font-size: 1.8rem;
    line-height: 1;
    font-weight: 700;
    text-align: center;
}

.description__item {
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--primary-darkGreen);
    margin: 32px 0 16px;
}

.description__txt {
    font-size: 1.4rem;
}

.pcBr {
    display: none;
}

.description__txt--when {
    margin-top: 21px;
}

.description__txt--until {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1;
    color: var(--primary-green);
    margin-bottom: 19px;
}

/* description pc */
@media screen and (min-width: 769px) {
    .description__item {
        font-size: 1.6rem;
        line-height: 1.3;
        margin: 48px 0 16px;
        text-align: center;
    }

    .description__txt {
        text-align: center;
        font-size: 1.6rem;
        line-height: 1.3;
    }

    .pcBr {
        display: block;
    }

    .description__txt--until {
        font-size: 1.6rem;
        line-height: 1.3;
        margin-bottom: 16px;
    }
}

/* pc 769px */

/* =======================
application
======================= */
.application {
    background-color: var(--primary-whiteLow);
    padding: 64px 4.2%;
}

.form {
    margin-top: 24px;
}

.form__parts {
    margin-top: 32px;
}

.form__parts:first-of-type {
    margin-top: 0;
}

.form__category {
    font-size: 1.4rem;
    font-weight: 700;
}

.form__category::before {
    content: '必須';
    display: inline-block;
    width: 34px;
    height: 18px;
    font-size: 1.2rem;
    text-align: center;
    justify-content: center;
    font-weight: 400;
    color: var(--primary-white);
    background-color: var(--primary-pink);
    border-radius: 2px;
    padding: 0 5px;
    margin-right: 4px;
}

.form__category span {
    color: var(--primary-pink);
    font-size: 1.2rem;
    font-weight: 400;
    margin-left: 4px;
}

.group {
    margin-top: 8px;
}

.group--checkbox {
    display: flex;
    flex-wrap: wrap;
    gap: 8px 20px;
}

.group--checkbox {
    font-size: 1.4rem;
}

input[type="checkbox"] {
    width: 16px;
    height: 16px;
    border: 1px solid var(--primary-lightGray);
    background-color: var(--primary-white);
    margin-right: 4px;
}

input[type="checkbox"]:checked {
    position: relative;
}

input[type="checkbox"]:checked::after {
    position: absolute;
    display: block;
    content: '';
    width: 10px;
    height: 5px;
    border-left: 2px solid var(--primary-green);
    border-bottom: 2px solid var(--primary-green);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

input[type="text"],
.group--select,
.group__textArea {
    display: block;
    width: 100%;
    padding: 8px 16px;
    background-color: var(--primary-white);
    border-radius: 2px;
    border: 1px solid var(--primary-lightGray);
    font-size: 1.4rem;
}

input[type="text"]:focus,
.group--select:focus,
.group__textArea:focus {
    outline: 1px solid var(--primary-green);
}

::placeholder {
    color: var(--primary-lightGray);
}

.group--radio label {
    font-size: 1.4rem;
}

.group--radio label:last-of-type {
    margin-left: 36px;
}

input[type="radio"] {
    width: 16px;
    height: 16px;
    border: 1px solid var(--primary-lightGray);
    background-color: var(--primary-white);
    border-radius: 50%;
    margin-right: 4px;
    vertical-align: -2px;
}

input[type="radio"]:checked {
    position: relative;
}

input[type="radio"]:checked::after {
    display: block;
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--primary-green);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.group__textArea {
    height: 148px;
}

.form__parts.form__parts--policy,
.form__parts.form__parts--submit {
    margin-top: 24px;
}

.form__parts--policy {
    font-size: 1.4rem;
}

.policy span {
    text-decoration: underline;
}

.btn--form {
    font-size: 2.2rem;
    background-color: var(--primary-pink);
    width: 100%;
}

/* application pc */
@media screen and (min-width: 769px) {
    .form {
        max-width: 570px;
        margin: 24px auto 0;
    }

    .form__parts {
        display: flex;
        align-items: center;
        gap: 0 20px;
    }

    .form__parts:first-of-type,
    .form__parts:nth-of-type(5) {
        align-items: flex-start;
    }

    .form__category {
        width: 177px;
        flex-shrink: 0;
    }

    .form__category span {
        display: block;
        margin-top: 4px;
        margin-left: 0;
    }

    .group {
        margin-top: 0;
        width: 100%;
    }

    .group--checkbox {
        gap: 20px;
    }

    .form__flex {
        width: 100%;
    }

    .group--text {
        margin-top: 8px;
    }

    .policy {
        display: block;
        margin: 0 auto;
    }

    .btn--form {
        max-width: 343px;
        margin: 0 auto;
    }
}

/* pc 769px */